In [ ]:
import pandas as pd
import openaq
api = openaq.OpenAQ()

UK_cities = api.cities(country = 'GB', limit = 10000, df = True)
UK_ground_data = api.measurements(city = UK_cities, parameter = 'pm25', 
    date_from = '2018-09-27', date_to = '2020-03-31', limit = 100000, df = True)
UK_ground_data_PM10 = api.measurements(city = UK_cities, parameter = 'pm10', 
    date_from = '2018-09-27', date_to = '2020-03-31', limit = 100000, df = True)

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import openaq

sns.set(style="ticks", font_scale=1.)

api = openaq.OpenAQ()
import pandas as pd

In [2]:
UK_cities = api.cities(country = 'GB', limit = 10000, df = True)

C:\Users\Zenudeen\anaconda3\lib\site-packages\openaq\decorators.py:57: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = pd.io.json.json_normalize(resp)

    country                    name                    city   count  locations
0        GB                Aberdeen                Aberdeen  600266          3
1        GB                    Adur                    Adur   29061          1
2        GB                  Armagh                  Armagh  212490          1
3        GB              Aston Hill              Aston Hill  216454          1
4        GB             Auchencorth             Auchencorth  332619          1
..      ...                     ...                     ...     ...        ...
152      GB                 Wrexham                 Wrexham  336623          1
153      GB             Yarner Wood             Yarner Wood  222497          1
154      GB                    York                    York  631258          2
155      GB               Yorkshire               Yorkshire  213285          1
156      GB  Yorkshire & Humberside  Yorkshire & Humberside  182620          1

[157 rows x 5 columns]

In [2]:
UK1 = api.measurements(city = UK_cities1, parameter = 'pm25', 
                       date_from = '2018-09-27', date_to = '2020-03-31', limit = 100000, df = True)

In [51]:
UK_cities1 = UK_cities[0:1]
UK_cities2 = UK_cities[10:20]
UK_cities3 = UK_cities[20:30]
UK_cities4 = UK_cities[30:40]
UK_cities5 = UK_cities[40:50]
UK_cities6 = UK_cities[50:60]
UK_cities7 = UK_cities[60:70]
UK_cities8 = UK_cities[70:80]
UK_cities9 = UK_cities[80:90]
UK_cities10 = UK_cities[90:100]
UK_cities11 = UK_cities[100:]

In [1]:
# UK1 = api.measurements(city = UK_cities1, parameter = 'pm25', 
#                        date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [9]:
# Get the list of cities
UK_cities = api.cities(country = 'GB', limit = 10000, df = True)
UK_cities = UK_cities['city'].tolist()

C:\Users\zenud\anaconda3\lib\site-packages\openaq\decorators.py:57: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = pd.io.json.json_normalize(resp)

146
95

11

In [92]:
# Get PM2.5 from Columnbia
# Repeat the same for other countries which have many cities
UK_cities1 = UK_cities[0:2]


UK1 = api.measurements(city = UK_cities1, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)


# frames = [CO1, CO2]
# Colombia = pd.concat(frames)
# Colombia.to_csv('Colombia.csv', index=False)

C:\Users\zenud\anaconda3\lib\site-packages\openaq\decorators.py:57: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = pd.io.json.json_normalize(resp)

In [87]:
UK_cities2 = UK_cities[2:8]
UK2 = api.measurements(city = UK_cities2, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [94]:
UK_cities3 = UK_cities[8:13]
UK3 = api.measurements(city = UK_cities3, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [97]:
UK_cities4 = UK_cities[13:17]
UK4 = api.measurements(city = UK_cities4, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [98]:
UK_cities5 = UK_cities[17:21]
UK5 = api.measurements(city = UK_cities5, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [100]:
UK_cities6 = UK_cities[21:24]
UK6 = api.measurements(city = UK_cities6, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [103]:
UK_cities7 = UK_cities[24:27]
UK7 = api.measurements(city = UK_cities7, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [106]:
UK_cities8 = UK_cities[27:28]
UK8 = api.measurements(city = UK_cities8, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [107]:
UK_cities9 = UK_cities[31:34]
UK9 = api.measurements(city = UK_cities9, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [109]:
UK_cities10 = UK_cities[34:37]
UK10 = api.measurements(city = UK_cities10, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [111]:
UK_cities11 = UK_cities[37:41]
UK11 = api.measurements(city = UK_cities11, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [113]:
UK_cities12 = UK_cities[41:45]
UK12 = api.measurements(city = UK_cities12, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [115]:
UK_cities13 = UK_cities[45:49]
UK13 = api.measurements(city = UK_cities13, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [117]:
UK_cities14 = UK_cities[49:52]
UK14 = api.measurements(city = UK_cities14, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [122]:
UK_cities15 = UK_cities[52:54]
UK15 = api.measurements(city = UK_cities15, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [123]:
UK_cities16 = UK_cities[54:57]
UK16 = api.measurements(city = UK_cities16, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [127]:
UK_cities17 = UK_cities[57:58]
UK17 = api.measurements(city = UK_cities17, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [133]:
UK_cities18 = UK_cities[58:59]
UK18 = api.measurements(city = UK_cities18, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [135]:
UK_cities19 = UK_cities[59:62]
UK19 = api.measurements(city = UK_cities19, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

C:\Users\zenud\anaconda3\lib\site-packages\openaq\decorators.py:57: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = pd.io.json.json_normalize(resp)

In [137]:
UK_cities20 = UK_cities[62:65]
UK20 = api.measurements(city = UK_cities20, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [140]:
UK_cities21 = UK_cities[65:67]
UK21 = api.measurements(city = UK_cities21, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [141]:
UK_cities22 = UK_cities[67:70]
UK22 = api.measurements(city = UK_cities22, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [143]:
UK_cities23 = UK_cities[70:72]
UK23 = api.measurements(city = UK_cities23, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [144]:
UK_cities24 = UK_cities[72:75]
UK24 = api.measurements(city = UK_cities24, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [146]:
UK_cities25 = UK_cities[75:77]
UK25 = api.measurements(city = UK_cities25, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [147]:
UK_cities26 = UK_cities[77:80]
UK26 = api.measurements(city = UK_cities26, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [149]:
UK_cities27 = UK_cities[80:83]
UK27 = api.measurements(city = UK_cities27, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [150]:
UK_cities28 = UK_cities[83:87]
UK28 = api.measurements(city = UK_cities28, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [152]:
UK_cities29 = UK_cities[87:90]
UK29 = api.measurements(city = UK_cities29, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [154]:
UK_cities30 = UK_cities[90:93]
UK30 = api.measurements(city = UK_cities30, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [155]:
UK_cities31 = UK_cities[93:96]
UK31 = api.measurements(city = UK_cities31, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [156]:
UK_cities32 = UK_cities[96:100]
UK32 = api.measurements(city = UK_cities32, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [157]:
UK_cities33 = UK_cities[100:104]
UK33 = api.measurements(city = UK_cities33, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [158]:
UK_cities34 = UK_cities[104:108]
UK34 = api.measurements(city = UK_cities34, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [159]:
UK_cities35 = UK_cities[108:]
UK35 = api.measurements(city = UK_cities35, parameter = 'pm25', 
                       date_from = '2018-11-22', date_to = '2021-05-07', limit = 100000, df = True)

In [3]:
import pandas as pd

In [162]:
frames = [UK1, UK2,UK3,UK4,UK5,UK6,UK7,UK8,UK9,UK10,UK11,UK12,UK13,UK14,UK15,UK16,UK17,UK18,UK19,UK20,UK21,UK22,UK23,UK24,UK25,
          UK26,UK27,UK28,UK29,UK30,UK31,UK32,UK33,UK34,UK35]
UNITED_KINGDOM = pd.concat(frames)
UNITED_KINGDOM.to_csv('UNITEDKINGDOM.csv', index=False)

In [3]:
the_uk = pd.read_csv('UNITEDKINGDOM.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'UNITEDKINGDOM.csv'

In [2]:
import pandas as pd

In [22]:
the_uk.columns

Index(['location', 'parameter', 'value', 'unit', 'country', 'city', 'date.utc',
       'coordinates.latitude', 'coordinates.longitude'],
      dtype='object')

In [166]:
the_uk.groupby(['location', 'date.utc']).mean()

                                           value  coordinates.latitude  \
location        date.utc
Aberdeen        2018-11-22 00:00:00+00:00   12.0             57.157360
                2018-11-22 02:00:00+00:00   13.0             57.157360
                2018-11-22 03:00:00+00:00   13.0             57.157360
                2018-11-22 04:00:00+00:00   13.0             57.157360
                2018-11-22 05:00:00+00:00   13.0             57.157360
...                                          ...                   ...
York Fishergate 2021-05-06 20:00:00+00:00    1.0             53.951889
                2021-05-06 21:00:00+00:00    1.0             53.951889
                2021-05-06 22:00:00+00:00    1.0             53.951889
                2021-05-06 23:00:00+00:00    1.0             53.951889
                2021-05-07 00:00:00+00:00    1.0             53.951889

                                           coordinates.longitude
location        date.utc
Aberdeen        2018-11-22 00:00:00+00:00              -2.094278
                2018-11-22 02:00:00+00:00              -2.094278
                2018-11-22 03:00:00+00:00              -2.094278
                2018-11-22 04:00:00+00:00              -2.094278
                2018-11-22 05:00:00+00:00              -2.094278
...                                                          ...
York Fishergate 2021-05-06 20:00:00+00:00              -1.075861
                2021-05-06 21:00:00+00:00              -1.075861
                2021-05-06 22:00:00+00:00              -1.075861
                2021-05-06 23:00:00+00:00              -1.075861
                2021-05-07 00:00:00+00:00              -1.075861

[1309442 rows x 3 columns]

In [23]:
the_uk

,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude
0,Aberdeen,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Aberdeen,2021-05-07 00:00:00+00:00,57.157360,-2.094278
1,Aberdeen-Division St,pm25,2.4,b'\xc2\xb5g/m\xc2\xb3',US,Aberdeen,2021-05-07 00:00:00+00:00,46.977200,-123.831700
2,Taholah-Quinault Tri,pm25,3.2,b'\xc2\xb5g/m\xc2\xb3',US,Aberdeen,2021-05-07 00:00:00+00:00,47.339802,-124.291801
3,Aberdeen,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Aberdeen,2021-05-06 23:00:00+00:00,57.157360,-2.094278
4,Aberdeen,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Aberdeen,2021-05-06 22:00:00+00:00,57.157360,-2.094278
...,...,...,...,...,...,...,...,...,...
1313508,York Fishergate,pm25,18.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 02:00:00+00:00,53.951889,-1.075861
1313509,York Bootham,pm25,20.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 02:00:00+00:00,53.967513,-1.086514
1313510,York Fishergate,pm25,17.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 01:00:00+00:00,53.951889,-1.075861
1313511,York Bootham,pm25,19.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 00:00:00+00:00,53.967513,-1.086514
1313512,York Fishergate,pm25,16.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 00:00:00+00:00,53.951889,-1.075861

In [14]:
the_uk['city'].unique()

array(['Aberdeen', 'Auchencorth', 'Barnstaple', 'Belfast', 'Blackpool',
       'Birmingham', 'Bournemouth', 'Brighton', 'Bristol', 'Carlisle',
       'Cardiff', 'Chatham', 'Central Scotland', 'Chepstow', 'Derry',
       'Eastbourne', 'Edinburgh', 'Glasgow', 'Grangemouth', 'Hull',
       'Leamington Spa', 'Inverness', 'Leeds', 'Leicester', 'Lincoln',
       'Liverpool', 'London', 'Lough Navar', 'Manchester',
       'Middlesbrough', 'Narberth', 'Newport', 'Newcastle', 'Norwich',
       'Nottingham', 'Oxford', 'Plymouth', 'Portsmouth', 'Preston',
       'Port Talbot', 'Reading', 'Rochester', 'Saltash', 'Sheffield',
       'Sandy', 'South East', 'South West', 'Southampton',
       'Stockton-on-Tees', 'Stockbridge', 'Stanford-le-Hope',
       'Stoke-on-Trent', 'Swansea', 'Sunderland', 'West Midlands',
       'Warrington', 'Wrexham', 'Wigan', 'York'], dtype=object)

In [15]:
the_uk['city'].value_counts()

London              91691
Aberdeen            47139
Rochester           39877
Glasgow             37308
Leamington Spa      37152
Manchester          37022
York                35557
Leeds               35116
Stockton-on-Tees    34749
Liverpool           31874
Reading             29441
Portsmouth          27209
Newport             19227
Preston             19020
Lough Navar         18992
Auchencorth         18956
Leicester           18890
Central Scotland    18886
Stockbridge         18755
Norwich             18719
Narberth            18682
South East          18640
Hull                18633
Nottingham          18555
Stoke-on-Trent      18530
West Midlands       18510
Southampton         18503
Oxford              18458
Edinburgh           18382
Belfast             18226
Wigan               18174
Bournemouth         18154
Sheffield           18025
Barnstaple          18025
Chepstow            17999
Newcastle           17959
Grangemouth         17892
Carlisle            17867
Port Talbot         17758
Sunderland          17701
Inverness           17639
Warrington          17578
Birmingham          17542
Plymouth            17539
Cardiff             17465
Lincoln             17459
Derry               17458
Blackpool           17395
Chatham             17324
Eastbourne          17272
South West          17165
Swansea             17149
Saltash             16913
Wrexham             16678
Bristol             16622
Stanford-le-Hope    16537
Middlesbrough       16489
Sandy               13113
Brighton             7923
Name: city, dtype: int64

In [57]:
the_uk.shape

(1313513, 9)

In [58]:
the_uk == the_uk[the_uk['city'] != 'Lemington Spa']

,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
1313508,True,True,True,True,True,True,True,True,True
1313509,True,True,True,True,True,True,True,True,True
1313510,True,True,True,True,True,True,True,True,True
1313511,True,True,True,True,True,True,True,True,True
1313512,True,True,True,True,True,True,True,True,True

In [62]:
the_uk['city'].value_counts()

London              91691
Aberdeen            47139
Rochester           39877
Glasgow             37308
Leamington Spa      37152
Manchester          37022
York                35557
Leeds               35116
Stockton-on-Tees    34749
Liverpool           31874
Reading             29441
Portsmouth          27209
Newport             19227
Preston             19020
Lough Navar         18992
Auchencorth         18956
Leicester           18890
Central Scotland    18886
Stockbridge         18755
Norwich             18719
Narberth            18682
South East          18640
Hull                18633
Nottingham          18555
Stoke-on-Trent      18530
West Midlands       18510
Southampton         18503
Oxford              18458
Edinburgh           18382
Belfast             18226
Wigan               18174
Bournemouth         18154
Sheffield           18025
Barnstaple          18025
Chepstow            17999
Newcastle           17959
Grangemouth         17892
Carlisle            17867
Port Talbot         17758
Sunderland          17701
Inverness           17639
Warrington          17578
Birmingham          17542
Plymouth            17539
Cardiff             17465
Lincoln             17459
Derry               17458
Blackpool           17395
Chatham             17324
Eastbourne          17272
South West          17165
Swansea             17149
Saltash             16913
Wrexham             16678
Bristol             16622
Stanford-le-Hope    16537
Middlesbrough       16489
Sandy               13113
Brighton             7923
Name: city, dtype: int64

In [30]:
the_uk_group = the_uk.groupby(['city']).mean()

In [33]:
the_uk_group.shape

(59, 3)

In [126]:
london = the_uk[the_uk['city'] == 'London']

In [127]:
london.to_csv('london.csv')

In [134]:
london = pd.read_csv('london.csv')

In [140]:
london.groupby(['date.utc','city']).mean()

,,Unnamed: 0,value,coordinates.latitude,coordinates.longitude
date.utc,city,,,,
2019-09-22 00:00:00+00:00,London,646285.0,12.142857,51.489479,0.012620
2019-09-22 01:00:00+00:00,London,646277.5,12.125000,51.489393,-0.044159
2019-09-22 02:00:00+00:00,London,646269.5,12.250000,51.489393,-0.044159
2019-09-22 03:00:00+00:00,London,646261.5,12.750000,51.489393,-0.044159
2019-09-22 04:00:00+00:00,London,646253.5,13.000000,51.489393,-0.044159
...,...,...,...,...,...
2021-05-06 20:00:00+00:00,London,554633.0,4.644444,51.488405,-0.045869
2021-05-06 21:00:00+00:00,London,554624.5,4.875000,51.489393,-0.044159
2021-05-06 22:00:00+00:00,London,554616.5,4.875000,51.489393,-0.044159
2021-05-06 23:00:00+00:00,London,554609.0,5.142857,51.489479,0.012620
2021-05-07 00:00:00+00:00,London,554601.5,4.950000,51.488356,0.003599

In [135]:
london.shape

(91691, 10)

In [162]:
london['location'].value_counts()

Southend-on-Sea                 12199
London N. Kensington            11943
London Westminster              11694
London Teddington Bushy Park    11503
London Bexley                   11177
London Marylebone Road          11084
London Eltham                   11052
London Harlington               10919
Southwark A2 Old Kent Road        120
Name: location, dtype: int64

In [166]:
london = london[london['location'] == 'Southend-on-Sea']

In [168]:
london.shape

(12199, 10)

In [42]:
london.groupby(['city','date.utc']).mean()

                                      value  coordinates.latitude  \
city   date.utc
London 2019-09-22 00:00:00+00:00  12.142857             51.489479
       2019-09-22 01:00:00+00:00  12.125000             51.489393
       2019-09-22 02:00:00+00:00  12.250000             51.489393
       2019-09-22 03:00:00+00:00  12.750000             51.489393
       2019-09-22 04:00:00+00:00  13.000000             51.489393
...                                     ...                   ...
       2021-05-06 20:00:00+00:00   4.644444             51.488405
       2021-05-06 21:00:00+00:00   4.875000             51.489393
       2021-05-06 22:00:00+00:00   4.875000             51.489393
       2021-05-06 23:00:00+00:00   5.142857             51.489479
       2021-05-07 00:00:00+00:00   4.950000             51.488356

                                  coordinates.longitude
city   date.utc
London 2019-09-22 00:00:00+00:00               0.012620
       2019-09-22 01:00:00+00:00              -0.044159
       2019-09-22 02:00:00+00:00              -0.044159
       2019-09-22 03:00:00+00:00              -0.044159
       2019-09-22 04:00:00+00:00              -0.044159
...                                                 ...
       2021-05-06 20:00:00+00:00              -0.045869
       2021-05-06 21:00:00+00:00              -0.044159
       2021-05-06 22:00:00+00:00              -0.044159
       2021-05-06 23:00:00+00:00               0.012620
       2021-05-07 00:00:00+00:00               0.003599

[12775 rows x 3 columns]

In [141]:
aberdeen = the_uk[the_uk['city'] == 'Aberdeen']

In [143]:
glasgow = the_uk[the_uk['city'] == 'Glasgow']

In [147]:
glasgow['location'].value_counts()

Glasgow Townhead       18931
Glasgow High Street    18377
Name: location, dtype: int64

In [148]:
glasgow.columns

Index(['location', 'parameter', 'value', 'unit', 'country', 'city', 'date.utc',
       'coordinates.latitude', 'coordinates.longitude'],
      dtype='object')

In [150]:
glasgow.groupby(['date.utc']).mean()

                           value  coordinates.latitude  coordinates.longitude
date.utc
2018-11-22 00:00:00+00:00    7.0             55.863359              -4.240922
2018-11-22 01:00:00+00:00    8.0             55.865782              -4.243631
2018-11-22 02:00:00+00:00    8.0             55.863359              -4.240922
2018-11-22 03:00:00+00:00    8.5             55.863359              -4.240922
2018-11-22 04:00:00+00:00    9.0             55.863359              -4.240922
...                          ...                   ...                    ...
2021-05-06 20:00:00+00:00    2.0             55.863359              -4.240922
2021-05-06 21:00:00+00:00    2.5             55.863359              -4.240922
2021-05-06 22:00:00+00:00    2.0             55.863359              -4.240922
2021-05-06 23:00:00+00:00    2.0             55.863359              -4.240922
2021-05-07 00:00:00+00:00    2.0             55.863359              -4.240922

[19203 rows x 3 columns]

In [76]:
the_uk.columns

Index(['location', 'parameter', 'value', 'unit', 'country', 'city', 'date.utc',
       'coordinates.latitude', 'coordinates.longitude'],
      dtype='object')

In [118]:
the_uk = the_uk[the_uk['country'] == 'GB']

In [81]:
the_uk.shape

(1211422, 9)

In [107]:
the_uk = the_uk[the_uk['city'] != 'Leamington Spa']

In [108]:
the_uk = the_uk[the_uk['city'] != 'Stockton-on-Tees']

In [109]:
the_uk = the_uk[the_uk['city'] != 'Stanford-le-Hope']

In [110]:
the_uk = the_uk[the_uk['city'] != 'Saltash']

In [111]:
the_uk = the_uk[the_uk['city'] != 'South East']

In [112]:
the_uk = the_uk[the_uk['city'] != 'Chepstow']

In [113]:
the_uk = the_uk[the_uk['city'] != 'Narberth']

In [114]:
the_uk = the_uk[the_uk['city'] != 'Grangemouth']

In [115]:
the_uk = the_uk[the_uk['city'] != 'West Midlands']

In [116]:
the_uk = the_uk[the_uk['city'] != 'Central Scotland']

In [120]:
the_uk = the_uk[the_uk['city'] != 'Stockbridge']

In [123]:
the_uk = the_uk[the_uk['city'] != 'Chatham']

In [151]:
the_uk = the_uk[the_uk['city'] != 'South West']

In [152]:
the_uk = the_uk[the_uk['city'] != 'London']

In [153]:
the_uk = the_uk[the_uk['city'] != 'Glasgow']

In [154]:
the_uk = the_uk[the_uk['city'] != 'Manchester']

In [155]:
the_uk = the_uk[the_uk['city'] != 'York']

In [156]:
the_uk = the_uk[the_uk['city'] != 'Leeds']

In [157]:
the_uk = the_uk[the_uk['city'] != 'Liverpool']

In [161]:
the_uk['city'].nunique()

39

In [ ]:
['Lemington Spa','Stockton-on-Tees', 'Stanford-le-Hope', 'Saltash', 'South East', 'Barnstaple', 'Chepstow', 'Narberth', 'Grangemouth', 'West Midlands', 'Central Scotland']

In [169]:
the_uk['city'].value_counts()

Newport           19227
Preston           19020
Lough Navar       18992
Auchencorth       18956
Leicester         18890
Aberdeen          18751
Norwich           18719
Hull              18633
Nottingham        18555
Stoke-on-Trent    18530
Southampton       18503
Oxford            18458
Edinburgh         18382
Belfast           18226
Wigan             18174
Bournemouth       18154
Barnstaple        18025
Sheffield         18025
Newcastle         17959
Rochester         17907
Carlisle          17867
Port Talbot       17758
Sunderland        17701
Inverness         17639
Warrington        17578
Birmingham        17542
Plymouth          17539
Cardiff           17465
Derry             17458
Blackpool         17395
Eastbourne        17272
Swansea           17149
Wrexham           16678
Bristol           16622
Middlesbrough     16489
Reading           13157
Sandy             13113
Portsmouth         9219
Brighton           7923
Name: city, dtype: int64

In [102]:
the_uk

,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude
0,Aberdeen,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Aberdeen,2021-05-07 00:00:00+00:00,57.157360,-2.094278
3,Aberdeen,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Aberdeen,2021-05-06 23:00:00+00:00,57.157360,-2.094278
4,Aberdeen,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Aberdeen,2021-05-06 22:00:00+00:00,57.157360,-2.094278
9,Aberdeen,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Aberdeen,2021-05-06 21:00:00+00:00,57.157360,-2.094278
10,Aberdeen,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Aberdeen,2021-05-06 20:00:00+00:00,57.157360,-2.094278
...,...,...,...,...,...,...,...,...,...
1313508,York Fishergate,pm25,18.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 02:00:00+00:00,53.951889,-1.075861
1313509,York Bootham,pm25,20.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 02:00:00+00:00,53.967513,-1.086514
1313510,York Fishergate,pm25,17.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 01:00:00+00:00,53.951889,-1.075861
1313511,York Bootham,pm25,19.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 00:00:00+00:00,53.967513,-1.086514
1313512,York Fishergate,pm25,16.0,b'\xc2\xb5g/m\xc2\xb3',GB,York,2018-11-22 00:00:00+00:00,53.951889,-1.075861

In [104]:
the_uk = the_uk.groupby(['city', 'date.utc']).mean()

In [105]:
the_uk

                                    value  coordinates.latitude  \
city     date.utc
Aberdeen 2018-11-22 00:00:00+00:00   12.0             57.157360
         2018-11-22 02:00:00+00:00   13.0             57.157360
         2018-11-22 03:00:00+00:00   13.0             57.157360
         2018-11-22 04:00:00+00:00   13.0             57.157360
         2018-11-22 05:00:00+00:00   13.0             57.157360
...                                   ...                   ...
York     2021-05-06 20:00:00+00:00    3.0             53.959701
         2021-05-06 21:00:00+00:00    3.0             53.959701
         2021-05-06 22:00:00+00:00    3.0             53.959701
         2021-05-06 23:00:00+00:00    3.0             53.959701
         2021-05-07 00:00:00+00:00    3.0             53.959701

                                    coordinates.longitude
city     date.utc
Aberdeen 2018-11-22 00:00:00+00:00              -2.094278
         2018-11-22 02:00:00+00:00              -2.094278
         2018-11-22 03:00:00+00:00              -2.094278
         2018-11-22 04:00:00+00:00              -2.094278
         2018-11-22 05:00:00+00:00              -2.094278
...                                                   ...
York     2021-05-06 20:00:00+00:00              -1.081187
         2021-05-06 21:00:00+00:00              -1.081187
         2021-05-06 22:00:00+00:00              -1.081187
         2021-05-06 23:00:00+00:00              -1.081187
         2021-05-07 00:00:00+00:00              -1.081187

[815972 rows x 3 columns]

In [75]:
['Lemington Spa','Stockton-on-Tees', 'Stanford-le-Hope', 'Saltash', 'South East', 'Barnstaple', 'Chepstow', 'Narberth', 'Grangemouth', 'West Midlands', 'Central Scotland']

['Lemington Spa',
 'Stockton-on-Tees',
 'Stanford-le-Hope',
 'Saltash',
 'South East',
 'Barnstaple',
 'Chepstow',
 'Narberth',
 'Grangemouth',
 'West Midlands',
 'Central Scotland']

In [70]:
the_uk = the_uk[the_uk['city'] != ['Lemington Spa']]

KeyError: 'city'

In [73]:
the_uk

                                        value  coordinates.latitude  \
city     date.utc
Aberdeen 2018-11-22 00:00:00+00:00  10.733333             50.491454
         2018-11-22 01:00:00+00:00   9.600000             47.158501
         2018-11-22 02:00:00+00:00  11.966667             50.491454
         2018-11-22 03:00:00+00:00  12.533333             50.491454
         2018-11-22 04:00:00+00:00  12.633333             50.491454
...                                       ...                   ...
York     2021-05-06 20:00:00+00:00   3.000000             53.959701
         2021-05-06 21:00:00+00:00   3.000000             53.959701
         2021-05-06 22:00:00+00:00   3.000000             53.959701
         2021-05-06 23:00:00+00:00   3.000000             53.959701
         2021-05-07 00:00:00+00:00   3.000000             53.959701

                                    coordinates.longitude
city     date.utc
Aberdeen 2018-11-22 00:00:00+00:00             -83.405926
         2018-11-22 01:00:00+00:00            -124.061751
         2018-11-22 02:00:00+00:00             -83.405926
         2018-11-22 03:00:00+00:00             -83.405926
         2018-11-22 04:00:00+00:00             -83.405926
...                                                   ...
York     2021-05-06 20:00:00+00:00              -1.081187
         2021-05-06 21:00:00+00:00              -1.081187
         2021-05-06 22:00:00+00:00              -1.081187
         2021-05-06 23:00:00+00:00              -1.081187
         2021-05-07 00:00:00+00:00              -1.081187

[1049391 rows x 3 columns]

In [170]:
Newport = the_uk[the_uk['city'] == 'Newport']

In [172]:
Newport['date.utc'].value_counts()

2019-05-27 20:00:00+00:00    1
2020-08-12 16:00:00+00:00    1
2020-10-13 12:00:00+00:00    1
2019-03-13 07:00:00+00:00    1
2019-07-16 04:00:00+00:00    1
                            ..
2019-06-25 12:00:00+00:00    1
2019-06-23 21:00:00+00:00    1
2020-03-18 10:00:00+00:00    1
2020-12-01 04:00:00+00:00    1
2018-11-24 07:00:00+00:00    1
Name: date.utc, Length: 19227, dtype: int64

In [173]:
Newport

,location,parameter,value,unit,country,city,date.utc,coordinates.latitude,coordinates.longitude
737474,Newport,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2021-05-07 00:00:00+00:00,51.601203,-2.977281
737477,Newport,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2021-05-06 23:00:00+00:00,51.601203,-2.977281
737479,Newport,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2021-05-06 22:00:00+00:00,51.601203,-2.977281
737481,Newport,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2021-05-06 21:00:00+00:00,51.601203,-2.977281
737483,Newport,pm25,3.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2021-05-06 20:00:00+00:00,51.601203,-2.977281
...,...,...,...,...,...,...,...,...,...
774650,Newport,pm25,16.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2018-11-22 04:00:00+00:00,51.601203,-2.977281
774652,Newport,pm25,16.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2018-11-22 03:00:00+00:00,51.601203,-2.977281
774655,Newport,pm25,16.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2018-11-22 02:00:00+00:00,51.601203,-2.977281
774657,Newport,pm25,16.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2018-11-22 01:00:00+00:00,51.601203,-2.977281
774658,Newport,pm25,16.0,b'\xc2\xb5g/m\xc2\xb3',GB,Newport,2018-11-22 00:00:00+00:00,51.601203,-2.977281

In [174]:
world = pd.read_csv('UNITEDKINGDOM.csv')

In [175]:
world = world.rename(columns={"date.utc": "Date", "coordinates.latitude": "Lat", "coordinates.longitude":"Long", "value": "PM25"})
world['Date'] = world['Date'].astype(str).str[:10]
world = world.drop(columns=['unit', 'parameter'], axis =1)
world = world[['location', 'Date', 'city', 'country', 'PM25', 'Lat','Long']]
world['PM25'] = world.groupby(['Date','location'])['PM25'].transform(lambda x: x.mean())
world = world.groupby(['Date', 'location']).first().reset_index()

In [176]:
world.shape

(62392, 7)

In [178]:
world.to_csv('UnitedKingdom1.csv')